APP_NAME=SIMA
APP_URL=http://localhost
APP_PUBLIC=/public

#BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_USER=username
DB_PASSWORD=passwaord
DB_DATABASE=database

BASE_PATH=path
BCK_BACKUP_PATH=backup
