.env
composer.phar
vendors
/vendor/
*.lock
storage/backup/
/.vscode/
pruebas.php
public/assets/images/medicos/
public/assets/images/personal/
public/assets/images/images_graficos/
public/assets/documents/